@import "tailwindcss";

@plugin "daisyui";

@theme {
  --default-font-family: 'American Typewriter', ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  
  --color-hasen-base: #e2d2a8;
  --color-hasen-green: #2f6310;
  --color-hasen-red: #9b2c00;
  --color-hasen-dark: #0a0a0c;
}